# Node
node_modules/
dist/
build/
.env
.env.*
!.env.example
!.env.test
npm-debug.log*
coverage/

# Flutter/Dart
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/android/.gradle/
*.g.dart
*.freezed.dart

# IDE / OS
.vscode/
.idea/
.DS_Store

# Terraform
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.backup
